<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="DAA Mailer Test">
            <directory>./src</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>
